@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'common/global';

.editor-visual-editor a {
  color: inherit;
  text-decoration: none !important;
}

[data-toolbar='simple'] iframe {
  height: 100px !important;
  min-height: 100px !important;
}

[data-toolbar='simple'] .mce-statusbar {
  display: none;
}

.editor-styles-wrapper {
  @apply font-sans 2xl:text-lg text-black prose max-w-none;
}

.acf-block-preview a {
  @apply pointer-events-none;
}

.editor-post-title__input {
  @apply text-4xl bg-black/5 rounded p-4 mt-16 mb-12 font-normal;
}
